@font-face {
  font-family: "learning-to-trust";
  src: url(../font/LearningToTrust.ttf);
}

body {
  background-color: grey;
  font-family: "learning-to-trust";
}

h2 {
  font-weight: 900;
  font-size: 30px;
  transition: all 2s;
}

p {
  font-weight: 400;
  font-size: 25px;
  transition: all 2s;
}

.yellow {
  width: 401px;
  height: 253px;
  background: linear-gradient(181deg, #f9fac8, #0000001f);
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 6px 7px 5px -4px #0000005e;
  transform: rotateZ(354deg);
  transition: all 2s;
}

.yellow:hover {
  width: 600px;
  height: 452px;
  box-shadow: 206px 207px 205px -204px #0000010e;
}

.yellow:hover h2 {
  font-size: 90px;
}

.yellow:hover p {
  font-size: 70px;
}

.green {
  width: 401px;
  height: 253px;
  background: linear-gradient(181deg, #c5f2c7, #0000001f);
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 6px 7px 5px -4px #0000005e;
  transform: rotate(5deg);
  transition: all 2s;
}

.green:hover {
  width: 600px;
  height: 452px;
  box-shadow: 500px 500px 500px -500px #0000010e;
}
.green:hover h2 {
  font-size: 90px;
}

.green:hover p {
  font-size: 70px;
}

.purple {
  width: 401px;
  height: 253px;
  background: linear-gradient(181deg, #c5c5f0, #0000001f);
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 6px 7px 5px -4px #0000005e;
  transform: rotate(351deg);
  transition: all 2s;
}
.purple:hover {
  width: 600px;
  height: 452px;
  box-shadow: 206px 207px 205px -204px #0000010e;
}
.purple:hover h2 {
  font-size: 90px;
}

.purple:hover p {
  font-size: 70px;
}
.container1,
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-block-start: 80px;
}
